:root {
  --color-light-primary: #386ce1;
  --color-dark-primary: #386ce1;

  --color-blue-light: #eff4ff;
  --color-blue-dark: #10234f;

  --color-white: #fff;
  --color-light-white: #f5f8fa;

  --color-black: #000;

  --color-gray-dark: #333;
  --color-gray: #666;
  --color-gray-light: #999;
}

:root {
  --color-primary: var(--color-light-primary);

  --color-background: var(--color-light-white);
  --color-background-light: var(--color-white);
  --color-background-dark: var(--color-blue-dark);

  --color-background-primary-light: var(--color-blue-light);

  --color-text: var(--color-gray-dark);
  --color-text-light: var(--color-gray);
  --color-text-lighter: var(--color-gray-light);
}

.dark {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
