:root {
  --com-black: #000000;
  --com-black-9: #141414;
  --com-black-7: #1f1f1f;
  --com-black-5: #262626;
  --com-black-3: #434343;
  --com-black-1: #595959;
  --com-gray: #8c8c8c;
  --com-white-1: #bfbfbf;
  --com-white-3: #d9d9d9;
  --com-white-5: #f0f0f0;
  --com-white-7: #f5f5f5;
  --com-white-9: #fafafa;
  --com-white: #ffffff;

  --primary-color: #d00d14;
  --dark-primary-color: #950b0f;
}

:root {
  --text-color: var(--com-black-3);
  --text-highlight-color: var(--com-gray);
  --text-white-color: var(--com-white-7);
  --text-white-highlight-color: var(--com-white);
  --text-disable: var(--com-gray);

  --page-background-dark-color: var(--com-white-5);
  --page-background-color: var(--com-white);

  --border: var(--com-white-3);

  --menu-background: var(--page-background-color);
  --menu-hover: var(--com-white-3);
  --menu-text-color: var(--text-color);
  --menu-active-text-color: var(--el-color-primary);
}

.dark {
  --text-color: var(--com-white-1);
  --text-highlight-color: var(--com-white-3);
  --text-white-color: var(--com-white-7);
  --text-white-highlight-color: var(--com-white);
  --text-disable: var(--com-black-1);

  --page-background-dark-color: var(--com-black-9);
  --page-background-color: var(--com-black-5);

  --border: var(--com-black-3);

  --menu-background: var(--page-background-color);
  --menu-hover: var(--com-black-5);
  --menu-text-color: var(--text-color);
  --menu-active-text-color: var(--el-color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 1200px;
  position: relative;
}

body {
  color: var(--text-color);
  background: var(--page-background-color);
}
